.text-left    { text-align: left;   }
.text-right   { text-align: right;  }
.text-center  { text-align: center; }

.pull-left    { float: left !important;  }
.pull-right   { float: right !important; }


.pagination-margin-top {
  margin-top: 100px;
}
