.text-left    { text-align: left;   }
.text-right   { text-align: right;  }
.text-center  { text-align: center; }

.pull-left    { float: left !important;  }
.pull-right   { float: right !important; }


.pagination-margin-top {
  margin-top: 100px;
}

.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover {
  background: #c4596955;
  color: #fff;
}
