.sidebar-component {
  transition: all 200ms ease-in-out !important;
  overflow-x: hidden !important;
  -webkit-box-shadow: inset -50px 0px 24px -31px rgba(0,0,0,0.15);
  box-shadow: inset -50px 0px 24px -31px rgba(0,0,0,0.15);
  background-position: -50px 400px !important;
  background-size: 1000% !important;
  /* Sidebar Header logo */
  .sidebar-header {
    &.expanded {
      .image {
        height: 102px !important;
        width: 200px !important;
        margin: 5px auto 10px;
      }
    }

    .image {
      height: 32px !important;
      width: 36px !important;
      margin: 10px auto 20px;
    }
  }

  .sidebar-footer {
    h3, .sub {
      color: white !important;
    }

    position: relative;

    bottom: calc((100vh - 250px) * -1);
    margin: 0 auto !important;

    .image {
      width: 36px !important;
      height: 36px !important;
      margin: 0 auto 0 !important;
    }

    &.expanded {
      bottom: calc((100vh - 450px) * -1);
      margin: 0 auto !important;

      .image {
        width: 120px !important;
        height: 120px !important;
        margin: 0 auto 0 !important;
      }
    }
  }


  .menu-label {
    transition: all 100ms;

    &.hidden {
      transition-delay: 0ms;
      opacity: 0;
    }

    &.visible {
      transition-delay: 200ms;
      opacity: 1;
    }
  }
}

.pusher {
  width: calc(100% - 350px);
}
